.section-quote {
  display: flex;
}
.quote-icon {
  color: red;
  font-size: 27px;
}
.quote-text {
  margin-top: 2em;
  font-size: 1.1em;
  line-height: 1.6;
  margin-left: 190px;
  margin-right: 200px;
  font-weight: 500;
}
.quote-author {
  text-align: right;
  margin-right: 235px;
  color: blue;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .section.quote {
    margin-top: 0px; /* Add margin at the top */
  }

  .quote-text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
  }

  .quote-author {
    margin-right: 40px;
  }
}
